<div id="error_explanation">
  <% if object.errors.present? %>
    <%= content_tag :div,
      t("error_message", {
        error_info: pluralize(object.errors.count, t("error"))
      }), class: "alert alert-danger"
    %>
  <% end %>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
